.form-group {
    display: block;
    width: 50%;
    padding-left: 25%;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.tasks-header {
    display: flex;
    justify-content: center;
}

.tasks-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
}

.tasks-section {
    display: block;
    width: calc(50%-20px); 
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-width: 2px;
    min-height: 50px;
    padding: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
}