.dashboard-wrapper {
    display: flex;
    justify-content: center;
}

.progress-container {
    width: 20%;
}

.progress-content {
    text-align: center;
    justify-content: center; 
}

.progress-label {
    text-align: center;
    justify-content: center; 
}

.suggested-task {
    margin-top: 50px;
}

.task-generator {
    width: 20%;
    text-align: center;
    padding-top: 40px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
